{% render 'partials/head.liquid', currentPath: currentPath  %}

<main class="lijst-section">
    <h1>Je hebt geen lijst om weer te geven.</h1>

    <details>
        <summary>Maak nieuwe lijst</summary>
            <form class="lijst-aanmaken" method="post" action="/lijsten">
            <label for="name">Naam:</label>
            <input id="name" name="name" type="text" required>
            <label for="age">Leeftijd:</label>
            <input id="age" name="age" type="number">
            <label for="description">Beschrijving:</label>
            <input id="description" name="description" type="text">

            <button type="submit">Aanmaken</button>
            </form>
    </details>

    <ul class="lists">
        {% for list in lists %}

          <li class="product-card">
            <article>
              <h3>{{ list.name }}</h3>
            </article>
          </li>
        {% endfor %}
      </ul>

</main>

</body>
